<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mission to Mars</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <body>
        <div class="container-fluid">
          <div class="jumbotron text-center">
            <h1>Mission to Mars</h1>
            <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
          </div>
          <div>
            <h1>Latest Mars News</h1>
            <h2>{{mars.newest_title}}</h2>
            <h3>{{mars.newest_description}}</h3>
            <h4>{{mars.newest_date}}</h4>
          </div>
        </div>
      <p></p>
      <div class="row">
        <div class="col-md-6 col-sm-12">
            <h1>Featured Mars Image</h1>
                <img src={{mars.featured_image_url}} alt = "Featured Image">
        </div>
        <div class="col-md-6 col-sm-12">
            <h1>Mars Facts</h1>
                <div class="border">
                  {{ mars.mars_table | safe}}
                </div>
        </div>
      </div>
      <p></p>
      <h1>Mars Hemispheres</h1>
      <div class="row">

          {% for img in mars.hemisphere_image_urls %}
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" width = '400 px' height = '400 px' src= {{img.img_url}} alt="Mars_Hemisphere">
            <div class="card-body">
              <h5 class="card-title"> {{img.title}} </h5>
            </div>
          </div>
          {% endfor %}

     </div>
 </body>
</html>